
<div class="container">
<form [formGroup] = "loginForm" novalidate (Submit)="login()">
<label for="uname"><b>User Name</b></label>
<input type="text"placeholder="Enter username" formControlName="username">

<div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched" class="alert alert-danger">
<div *ngIf="loginForm.get('username').hasError('required')">
User name is required
</div>
<div *ngIf="loginForm.get('username').hasError('minlength')">
Min. Length is 3!!!
</div>
</div>

<label for="psw"><b>Password</b></label>
<input type="password"placeholder="Enter password" formControlName="password">
<button type="submit">Login</button>
</form>
</div>