<div class="container">
  <form [formGroup]="loginForm" novalidate (submit)="login()">
    <label for="uname">
      <b>Username</b>
    </label>
    <input type="text" placeholder="Enter Username" formControlName="username" name="username">

    <div *ngIf="loginForm.controls['username'].touched && !loginForm.controls['username'].valid">  
        <span *ngIf="loginForm.controls['username'].hasError('required') ">  
            First name is required  
            </span>  
            <span *ngIf="loginForm.controls['username'].hasError('customminlength') ">  
             Min length is 3
            </span>  
            <span *ngIf="loginForm.controls['username'].hasError('maxlength') ">  
            max length is 15  
        </span>  
    </div>  

    <label for="psw">
      <b>Password</b>
    </label>
    <input type="password" placeholder="Enter Password" formControlName="password">

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </form>
</div>